.content {
display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}

.card {
    width: 31.5%;
}

:global {
    .ant-card-cover img {
        height: 360px;
    }
}

.bookBlock {
    position: relative;
}

.favBtn {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    right: 10px;
    top: 10px;
}

.link {
    text-decoration: none;
  }