$main-color: #EDDDD4;
$main-font-color: #283D3B;
$button-color: #197278;
$favorite-color:#772E25;
$currentPage-color:#772E25;
$containerWidth: 1280px;
$box_shadow: 0 4px 15px 2px rgba(90, 74, 74, 0.83);
$font-family: 'Alegreya Sans SC', sans-serif; 

.container {
  // width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto,
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
  }

.wrapper {
  min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
    padding: 1%;
}

.bookBlock {
  position: relative;
}

.favBtn {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border-color: transparent;
  right: 10px;
  top: 10px;
}

.link {
  text-decoration: none;
}

.catalog_box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 65px 10px;
  margin-bottom: 100px;

  & div.catalog_item:nth-child(odd) {
      // стили для нечетного элемента
      background-color: rgba(#E0CFC6, 0.6);
      border-radius: 30px;
    }

  & div.catalog_item:nth-child(even) {
  // стили для четного элемента
    background-color: rgba($button-color, 0.35);
    border-radius: 30px;
    & p.catalog_item_favoriteStats {
      color: $main-color;
    }
    & span {
      color: $main-color;
    }
  }

}