.root {
    background-color: #283D3B !important;
  
    h3 {
      color: #EDDDD4;
      font-weight: 500;
      position: relative;
      top: -2px;
      font-size: 20px;
      font-family: "Segoe UI";
      margin-right: 30px;
      text-align: center;
    }
}