$main-color: #EDDDD4;
$main-font-color: #283D3B;
$button-color: #197278;
$favorite-color:#772E25;
$currentPage-color:#772E25;
$containerWidth: 1280px;
$box_shadow: 0 4px 15px 2px rgba(90, 74, 74, 0.83);
$font-family: 'Alegreya Sans SC', sans-serif;

h1 {
  color: #283D3B;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  align-self: center;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $containerWidth;
  // padding: 10px 10px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
    @media (max-width: 1080px) {
        display: flex;
    }  
    & h1 {
        font-size: 64px;
        line-height: 110%;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &_buttons {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        width: 400px;
    }
    &_button {
        cursor: pointer;
        font-family: 'Alegreya Sans SC', sans-serif;
        text-align: center;
        margin: 10px;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        transition: all 0.5s ease;
    }
    &_left {
        max-width: 560px;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    }
    &_right {
        @media (max-width: 768px) {
            width: calc(100%/2);
            margin-top: 25px;
        }
        &_img {
            position: absolute;
            bottom:0;
            right: 0;
            width: 55%;
            height: auto;
            @media (max-width: 1080px) {
                opacity: 10%;
            } 
            @media (max-width: 768px) {
                position: absolute;
                width:105%;
               top: 380px;
               right: 0;
            } 
        }
    }
}

.menu_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
      @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

  &--color {
      background-color: rgba(224, 207, 198, 0.6);   
      margin-bottom: 50px; 
  }
}